
body{
    background-color: #24282b !important;
    color: aliceblue !important;
}
.search{
    margin-right: 120px;
    width: 600px;
   
}
.search-Input{
    background-color: #40454a;
}
.btns{
    border-color: beige;
    color: white;
    margin : 4px;
}
.sideimage{
   
    height: 120px;
}
.slider-height{
height: 1000px;
}
.title{
    margin: 10px;
    font-weight: bold;
}