
body{
    background-color: black !important;
    color: aliceblue !important;
    overflow-x: hidden;
}
.navcolor{
    background-color: #121212;
}
.search{
    margin-right: 120px;
    width: 600px;
   
}
.search-Input{
    background-color: #40454a;
}
.btns{
    border-color: beige;
    color: white;
    margin : 4px;
}
.sideimage{
   
    height: 120px;
}

.title{
    margin: 10px;
    font-weight: bold;
}
.card{
    background-color: #1a1a1a !important;
}
.feature{
    width: 900px;
    height: 450px;
    justify-content: center !important;
    position: relative !important;
    
}
.imgstyle{
    width: 900px;
    height: 450px;

}
.mainf{
    justify-content: center;
    position: relative;
    left: 200px;
    margin-top: 40px;
}
.fm{
    position: relative;
    right: 200px;
    margin-bottom: 50px;
}
.cardmovies{
    display: flex;
    align-content: center;
    justify-content: center;
}
.cardmovies1{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 400px;
}
.padd{
    padding: 0px !important;
    margin-bottom: 20px;
}

.sidecard{
    background-color: #1a1a1a;
    padding: 2px;
}
.trailerStyle {
    display: flex;
background-color: #1a1a1a;
    justify-content: center;    
    padding-bottom: 10px;
}
.cardbody1 {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.trabtn{
    margin-top: 20px;

}
.card{
    border: none !important;
    border-radius: 0rem;
}
.signup{
    font-size: 17px;
}
.register{
    font-size: 17px;
}
.setting{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.searchbox{
    display: flex;
}
.maindiv{
    color: white;
}
